

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS reset */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General css */
p, li, a, label {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

label {
    display: none;
}

/* navbar css */

.navbar{
    background-color: #D7BCC8;
    height: 3em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 1em 2em 1em 2em;
    /*padding: 1px 0 0 2px;*/
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(28, 48, 69, 0.452);
}

.navbar_container{
    height: auto;
}

.navbar_linklist{
    display: flex;
}

.navbar_linklist li{
    margin-right: 5em;
}

#navbar_logout_link{
    float: right;
    text-decoration: none;
    color: black;
}

.navbar_dropdown{
    position: relative;
    display: inline-block;
}

.navbar_dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navbar_dropdown:hover .navbar_dropdown_content {
    display: block;
}

.navbar_linklist li a{
    text-decoration: none;
    color: black;
}


/* Hero_image on index */

.hero_image_frame {
    height: 100vh;
    width: auto;
    white-space: nowrap;
    background-image: url("../images/heder_millhouse.jpg");
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    text-align: center;
}

.hero_image_inline_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hero_image_frame img{
    vertical-align: middle;
    max-height: 20%;
    max-width: auto;
    filter: drop-shadow(1px 1px 0 #D7BCC8) 
            drop-shadow(-1px -1px 0 #D7BCC8);
}


/* login, register, create */

.body_view {
    background-color: #1C3045;
}

.main_login_register {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 0;
    left: 0;
}

.image_container {
    margin: 0 auto;
}

.view_logo {
    width: 30vw;
}

.form_container {
    margin: 0 auto;
}

.form_views {
    display: flex;
    flex-direction: column;
    width: 17em;
}

.create_views_container {
    width: 25em;
}

.form_views input {
    margin: 0.5em;
}

#title {
    width: 15vw;
}

.submit {
    width: 8em;
}

.note-editor {
    margin: 0.5em;
}

.href_views {
    color: #95B8D1;
}

.text_views {
    color: white;
}

.label_block {
    display: inline;
}

.radio_wrapper {
    color: white;
    margin: 0.5em;
}

.login_and_registration_error_message{
    color: white;
}

/* about_us */

.about_us{
    padding-top: 5em;
}

.about_us_container{
    background-color: #1C3045;
    
}

.view_logo_about_us {
    display: flex;
    width: 30vw;
    margin: 0 auto;    
}

.heading h1 {
    text-align: center;
    font-size: 2rem;
    
}

.text_about_us p {
    text-align: center;
    font-size: 1rem;
    margin: 1.5em;
    
}

.card {
    background-color: #F0F0F0;
    box-shadow: 5px 5px 8px 5px black;
    margin: 1em;
    padding: 1em;

}

/* creat_footer */

.footer_image{
    height: 3em;
    margin-bottom: 1em;
}

footer{
    height: 100px;
    background-color: #D7BCC8;
    text-align: center;
    padding-top: 25px;
    
}

@media screen and (min-width: 768px){

    .card {
        background-color: #F0F0F0;
        margin: 3em;
    }

    .hero_image_frame img{
        max-height: 40%;
    }

    .view_logo_create {
        width: 25vw;
    }
}

@media screen and (min-width: 992px){
    .card {
        background-color: #F0F0F0;
        margin: 3em auto auto auto;
        width: 60vw;
    }
}

#file {
    color: white;
}

#description {
    height: 150px;
    margin: 0.5em;
}


