<<<<<<< HEAD
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
=======
>>>>>>> 2eaa7e25bfbe154e82690c3674a85b0d03457c23
/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General css */

label {
    display: none;
}

/* navbar css */

.navbar{
    background-color: #D7BCC8;
    height: 2em;
    display: flex;
    justify-content: space-between;
    
    padding: 1em 2em 0 2em;
}

.navbar_container{
    height: auto;
}

.navbar_linklist{
    display: flex;
}

.navbar_linklist li{
    margin-right: 5em;
}

#navbar_logout_link{
    float: right;
    text-decoration: none;
    color: black;
}

.navbar_dropdown{
    position: relative;
    display: inline-block;
}

.navbar_dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navbar_dropdown:hover .navbar_dropdown_content {
    display: block;
}

.navbar_linklist li a{
    text-decoration: none;
    color: black;
}

/* Hero_image on index */

.hero_image_frame {
    height: 94.5vh;
    width: auto;
    white-space: nowrap;
    background-color: #1C3045;
    text-align: center;
}

.hero_image_inline_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hero_image_frame img{
    vertical-align: middle;
    max-height: 1000px;
    max-width: 600px;
}

/* login_view */

.body_view {
    background-color: #1C3045;
}

.main_login_register {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 0;
    left: 0;
}

.image_container {
    margin: 0 auto;
}

.view_logo {
    width: 30vw;
}

.form_container {
    margin: 0 auto;
}

.form_views {
    display: flex;
    flex-direction: column;
}

.form_views input {
    margin: 0.5em;
}

.href_views {
    color: #95B8D1;
}

.text_views {
    color: white;
}
/* about_us */

body {
    background-color: #1C3045;

}

.view_logo_about_us {
    display: flex;
    width: 50vw;
    margin: 0 auto;    
}

.heading h1 {
    text-align: center;
    font-size: 2rem;
    
}

.text_about_us p {
    text-align: center;
    font-size: 1rem;
    margin: 1.5em;
    
}

.card {
    background-color: #F0F0F0;
    box-shadow: 5px 5px 8px 5px black;
    margin: 1em;
    padding: 1em;

}

@media screen and (min-width: 768px){

    .card {
        background-color: #F0F0F0;
        margin: 8em;
        
       
    
    }

}







#file {
    color: white;
}

#description {
    height: 150px;
    margin: 0.5em;
}
