/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General css */
p, li, a, input, label {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

label {
    display: none;
}

/* navbar css */

.navbar {
    background-color: #A6C9C6;
    height: 3em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 1em 1em 1em 1em;
    /*padding: 1px 0 0 2px;*/
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(28, 48, 69, 0.452);
    z-index: 1;
}

.navbar_linklist {
    display: none;
}

.navbar .menu_dropdown {
    background-color: #A6C9C6;
}

.navbar .menu_dropdown a:hover {
    color:white;
}

.navbar .menu_dropdown .dropdown-item{
    font-size: 0.8em;
}

.navbar .menu_dropdown .dropdown-item:hover {
    background-color: #90bbb8;
}

.navbar_dropdown_content {
    padding: 0.5em 0 0.5em 0;
    text-align: left;
}

.navbar_dropdown_content a {
    display: block;
    padding: 0.5em;
    font-size: 0.8em;
}

.navbar_dropdown_content a:hover {
    background-color:#90bbb8;
}

.dropdown-toggle {
    font-size: 0.9rem;
    color: black;
  
}
.dropdown li a {
    color:white;
}

.icons {
    display: flex;
    align-items: center;
}

.icons_wrapper {
    display: none;
    margin-right: 1em;
}

.icons_wrapper_footer {
    display: block;
}

.icons_wrapper_footer img {
    height: 2em;
    margin: 0 1em 1.5em 1em;
}

.icons img {
    height: 1.5em;
    margin-right: 1em;
}

/*logout button*/

.button_logout {
    float: right;
}
.button_logout a {
    color: white;
}
 a:hover {
     text-decoration: none;
     font-weight: bold;
}


/* Hero_image on index */

.hero_image_frame {
    height: 100vh;
    width: auto;
    white-space: nowrap;
    background-image: url("../images/heder_millhouse.jpg");
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    text-align: center;
    margin-bottom: 2em;
}

.hero_image_inline_helper {
    display: inline-block;
    height: 70%;
    vertical-align: middle;
}

.hero_image_frame img{
    vertical-align: bottom;
    margin-bottom: 50px;
    /*vertical-align: middle;*/
    max-width: 80%;
    max-height: auto;
    filter: drop-shadow(1px 1px 0 gray) 
            drop-shadow(-1px -1px 0 gray);
}

#hero_image_arrow {
    display: block;
    margin: 15vh auto 0 auto;
    color: white;
    max-width: 30px;
    height: auto;
    animation-name: fallingArrow;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fallingArrow{
    0%{
        opacity: 0;
        top: 0;
    }

    40%{
        opacity: 1;
    }

    80%{
        opacity: 0;
        top: 30px;
    }

    100%{
        opacity: 0;
    }
}

/* Edit post symbol */
.new_post {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    color: #1C3045;
}

.new_post:hover {
    font-size: 2.6em;
    color: #1C3045;
}


/* Styling on post card */

.post_card {
    text-align: center;
    padding-top: 1em;
}

.post_card_title {
    font-size: 1.6em;
    margin-bottom: 1em;   
}

.post_card_image {
    max-width: 80%;
}

.post_card_description {
    margin-top: 1em;
    max-width: 80%;
    margin: 30px auto 0 auto;
}

.post_card_date {
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(163, 163, 163);
}

.post_card_border {
    width: 80%;
    border-top: 1px solid #A6C9C6;
    margin: 40px auto 12px auto;
}

.category_error {
    text-align: center;
    margin-top: 1em;
}

.link_all_comments {
    margin-top: 1em;
}

.edit_post {
    display: inline-block;
    margin: 2em 1em 0 1em;
    color: rgb(163, 163, 163);
    text-decoration: underline;
}

.edit_post:hover {
    color: rgb(110, 110, 110);
    text-decoration: underline;
}

.link_all_comments a {
    color: gray;

}

#comment_date{
    color: grey;
    font-size: 0.7em;
    margin-bottom: 1.5em;
}

.comment_info {
    margin-bottom: 0.5em;
}

/* login, register, create */


  .body_view{
    background-image: none;
    background-color: white;
}

.main_login_register {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
}

.create_post {
    margin-top: 3em;
}

.image_container {
    margin: 0 auto;
}

.view_logo {
    margin-top: 3em;
    width: 55vw;
    margin-bottom: 4em;
    filter: drop-shadow(1px 1px 0 lightgray) 
    drop-shadow(-1px -1px 0 lightgray);
}

.form_container {
    margin: 0 auto;
}

.about_us_login_and_register{ 
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    color: #1C3045;
    filter: drop-shadow(0.3px 0.3px 0 lightgray) 
    drop-shadow(-0.3px -0.3px 0 lightgray);
}

.form_views {
    display: flex;
    flex-direction: column;
    max-width: 15em;
    margin-top: 2em;
}

.form_views input {
    margin: 0.5em;
    border-radius: 0.3em;
}

.login_and_register_button { 
    background-color: #90bbb8;
    color: white;
}

.login_and_register_button:hover{
    background-color:#81b1ae;
    font-weight: bold;
}

.create_views_container {
    width: 25em;
    padding-bottom: 1em;
}


#title {
    width: 12.5em;
}

.submit {
    width: 8em;
}

.note-editor {
    margin: 0.5em;
    max-width: 100%;
}

.href_views {
    color:#1C3045;
    font-weight: bold;
}

.href_views:hover {
    color: #619e9a;
    
}

.text_views {
    color: #1C3045;
    margin: 0 0.5em;
}

.label_block {
    display: inline;
}

.radio_wrapper {
    color:#1C3045;
    margin: 0.5em;
    
}

.radio_wrapper p{
    color:#1C3045;
    margin: 0.5em;
    font-weight: bold;
    
}

.login_and_registration_error_message {
   color: #1C3045;
   margin: 0 0.5em;
   font-weight: bold;
}

/* comments_form */

.form_views_comments {
    margin: 0 auto;
    max-width: 80%;
}

.comment {
    text-align: center;
}

.submit_comments {
    width: 10em;
    align-self: center;
    border-radius: 5px;
    background-color: #A6C9C6;
    color: white;
    margin: 0 0.5em;
}

.submit_comments:hover {
    background-color:#90bbb8;
}
/* create_post_view */

.card {
    border-radius: 1em;
    border: none;
  
}

.remove_picture_button {
    font-size: 0.8em;
    padding-left: 1em;
    color:#1C3045;
}

.label_block {
    color: #1C3045;
}

.create_post_button {
    background-color: #A6C9C6; 
    color: white;
    padding: 0.2em;
}

.create_post_button:hover {
    background-color: #90bbb8;
    font-weight: bold;
}

/* comment_view */

.single_comment_container {
    margin: 0 auto;
    width: 80%;
}

.single_comment {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.delete_comment_button {
    max-width: 30px;
    height: auto;
}

/* about_us */

.about_us_container {
    background-color: #F0F0F0;
    
}

.view_logo_about_us {
    display: flex;
    width: 30vw;
    margin: 0 auto;    
}

.heading h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
    
}

.text_about_us p {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    width: 50vw;
}

/* creat_footer */

.footer_image {
    height: 4em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 25px 0px 25px 0px;
   
}

footer p {
    font-size: 0.8em;
}
@media screen and (min-width: 300px){
      
.body_view::after {
    background-image: url("../images/heder_millhouse.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 

    }
}

@media screen and (min-width: 480px){

    .icons_wrapper_footer {
        display: none;
    }

    .icons_wrapper {
        display: block;
    }

    .form_views {

        max-width: 30em;
       
    }

    .hero_image_frame img{
        margin-bottom: 1em;
    }

    .hero_image_frame{
        margin-bottom: 2em;
    }
    
}

@media screen and (min-width: 768px){

    .view_logo {
        width: 40vw;
    }

    .about_us_login_and_register {
        width: 40vw;
    }

    .view_logo_create {
        width: 25vw;
    }

    .dropdown {
        display: none;
    
    }

    .navbar {
        background-color: #A6C9C6;
        height: 3em;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        padding: 1em 2em 1em 2em;
        /*padding: 1px 0 0 2px;*/
        box-sizing: border-box;
        text-align:center;
        
    }
    
    .navbar_linklist {
        display: flex;
        margin-bottom: 0;
    }
    
    .navbar_linklist li {
        margin-right: 3em;
    }
 
    .navbar_dropdown {
        position: relative;
        display: inline-block;
    }
    
    .navbar_dropdown_content {
        display: none;
        position: absolute;
        background-color: #A6C9C6;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        color: white;
    }

    .navbar_dropdown_content a:hover{
        font-weight: bold;
    }

    .button span {
        color: white;
    }

    .button span:hover{
        font-weight: bold;
    }

   .navbar_dropdown .navbar_dropdown_content a {
        color: white;
    }
    
    .navbar_dropdown:hover .navbar_dropdown_content {
        display: block;
    }

    .button li a {
        color: white;
    }

    .button li a:hover{
        font-weight: bold;
    }

    .hero_image_frame img {
        max-width: 50%;
    }

    /* Edit post symbol */
    .new_post {
        font-size: 3em;
        color: #1C3045;
    }

    .new_post:hover {
        font-size: 3.1em;
        color: #1C3045;
    }

    /* create_post_view */

    .card {
        border-radius: 1em;
        padding: 0 2em;
        border: none;
  
    }

    .form_views {
        max-width: 30em;
    }

}

@media screen and (min-width: 992px){

    .view_logo {
        width: 35vw;
    }

    .post_card_title {
        font-size: 2.5em;
        margin-bottom: 0.6em;
    }

    .hero_image_frame img {
        max-width: 50%;
    }

    .post_card_description {
        max-width: 50em;
    }

      /* create_post_view */

    .card {
        border-radius: 1em;
        padding: 0 3em;
        border: none;
      
    }
    .note-editor {
        max-width: 100%;
    }

    .form_views {
        max-width: 50em;
    }
}

@media screen and (min-width: 1200px) {
    .post_card_image {
        max-width: 1000px;
    }

    .post_card_border {
        max-width: 1000px;
    }
    .form_views_comments {
        max-width: 1000px;
    }

    .single_comment_container {
        max-width: 1000px;

}

}

@media screen and (max-width: 992px) and (orientation : landscape){
    .hero_image_frame img{
        max-width: 50%;
    }
    
}

#file {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#description {
    height: 150px;
    margin: 0.5em;
}