/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General css */

label {
    display: none;
}

/* navbar css */

.navbar{
    background-color: #D7BCC8;
    height: 2em;
    display: flex;
    justify-content: space-between;
    
    padding: 1em 2em 0 2em;
}

.navbar_container{
    height: auto;
}

.navbar_linklist{
    display: flex;
}

.navbar_linklist li{
    margin-right: 5em;
}

#navbar_logout_link{
    float: right;
    text-decoration: none;
    color: black;
}

.navbar_dropdown{
    position: relative;
    display: inline-block;
}

.navbar_dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navbar_dropdown:hover .navbar_dropdown_content {
    display: block;
}

.navbar_linklist li a{
    text-decoration: none;
    color: black;
}
/* login_view */

.body_view {
    background-color: #1C3045;
}

.main_login_register {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 0;
    left: 0;
}

.image_container {
    margin: 0 auto;
}

.view_logo {
    width: 30vw;
}

.form_container {
    margin: 0 auto;
}

.form_views {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.form_views input {
    margin: 0.5em;
}

#title {
    width: 15vw;
}

.submit {
    width: 8em;
}

.note-editor {
    margin: 0.5em;
}

.href_views {
    color: #95B8D1;
}

.text_views {
    color: white;
}

#file {
    color: white;
}

#description {
    height: 150px;
    margin: 0.5em;
}