<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Om oss</title>
</head>
<body>

     
              <img src="images/millhouse_logo.png"/>
                
                    <div class="col-12 rubrik">
                        <h1>OM OSS</h1>
                    </div>

                        <p>  Millhouse är ett grossistföretag som säljer kläder, accesoarer och mindre inredningsartiklar till mode- och livsstilsbutiker.</p>
                        <br />
                        <p>  Och nu tycker vi på Millhouse att det är dags att starta något eget.
                             Så detta är starten på Millhouse bloggforum. 
                             Och kände att vi ville ha ett sätt uppdatera nyhter och inspration på, och då tycker vi att ett bloggforum är ett roligt sätt att presentera det på. 
                             Vi kommer lägga upp inlägg på artiklar som klockor - solglasögon - mindre inredningsartiklar där ni kan vara med att kommentera och ge era önskemål på.</p>

                            
                            

              
    
</body>
</html>